In [1]:
#%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
#Abriendo un csv e imprimiendo primeras lineas
train = pd.read_csv('Data/train.csv')
test = pd.read_csv('Data/test.csv')

In [3]:
train.head(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train.shape

(891, 12)

In [6]:
test.shape

(418, 11)

In [ ]:
print (train.head(n=10)) #permite obtener las n primeras filas del dataset
print (train.describe()) #permite obtener un resumen del dataset(solo variable lineales)

In [8]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [16]:
train['Ticket'].dtype

dtype('O')

In [10]:
train[['Pclass', 'Name', 'Sex']].head(1)

   Pclass                     Name   Sex
0       3  Braund, Mr. Owen Harris  male

In [11]:
train[['Name', 'Sex','Pclass']].head(1)

                      Name   Sex  Pclass
0  Braund, Mr. Owen Harris  male       3

In [20]:
for var in train:
    if train[var].dtype != 'O':
        print (var, train[var].mean())

PassengerId 446.0
Survived 0.3838383838383838
Pclass 2.308641975308642
Age 29.69911764705882
SibSp 0.5230078563411896
Parch 0.38159371492704824
Fare 32.204207968574636

In [ ]:
#list comprenhension (profundizar)

In [21]:
predictors = [var for var in train if var not in ['PassengerId',
                                              'Survived']]
predictors

['Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [22]:
train_pred=train[predictors]

In [23]:
train_pred.head(n=1)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [24]:
train['Age'].isnull().sum()*1.0/train.shape[0]

0.19865319865319866

In [25]:
train['Age'].isnull().mean()

0.19865319865319866

In [26]:
train[predictors].isnull().mean()

Pclass      0.000000
Name        0.000000
Sex         0.000000
Age         0.198653
SibSp       0.000000
Parch       0.000000
Ticket      0.000000
Fare        0.000000
Cabin       0.771044
Embarked    0.002245
dtype: float64

In [ ]:
train.shape

In [ ]:
for columna in predictors:
    print(columna, train[columna].isnull().mean())

In [ ]:
train.isnull().sum(axis=1)

In [27]:
train['Survived'].mean()

0.3838383838383838

In [28]:
test['Survived'] = 0

In [30]:
test['Survived'].mean()

0.0

In [31]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0

In [32]:
test[['PassengerId', 'Survived']].\
to_csv('todosmueren.csv', index=False)

In [ ]:
train['Age'].describe()

In [ ]:
train['Age'].isnull().mean()

In [ ]:
train['Age'].fillna(train['Age'].median(), inplace=True)

In [ ]:
train['Age'].hist()

In [ ]:
train['Age'].fillna(train['Age'].median()).hist()

In [ ]:
plt.figure(figsize=(12, 7))
sns.boxplot(x='Pclass',y='Age',data=train,palette='winter')

In [ ]:
train.shape

In [ ]:
train['Age'].isnull().sum()

In [ ]:
train['Age'].fillna(0, inplace=True)

In [ ]:
train['Age'] = train['Age'].fillna(0)

In [ ]:
train['Age'].fillna(0, inplace=True)

In [ ]:
train["Age"].fillna(train["Age"].median(), inplace=True)
print (sum(train['Age'].isnull())*1.0/train.shape[0])

In [ ]:
sum(train['Age'].isnull())

In [ ]:
del train['Cabin']

In [ ]:
#Missing data
print (sum(train['Age'].isnull()))

for var in train:
    print (var, train[var].isnull().sum())
    
#Eliminando valores nulos

train["Age"]
train["Age"] = train["Age"].fillna(train["Age"].median())

#Eliminando columna 

#train.drop(['Cabin'], axis=1, inplace=True)

In [ ]:
train['Sex'].value_counts()

In [ ]:
train.groupby('Sex')['Survived'].mean()

In [ ]:
# Mujeres sobreviven

test.loc[test['Sex']=='female', 'Survived'] = 1

In [ ]:
test.loc[test['Sex']=='female', 'Survived'].unique()

In [ ]:
test[['PassengerId', 'Survived']].\
to_csv('mujeressobreviven.csv', index=False)

## Análisis Univariado

In [ ]:
import seaborn as sns
from IPython.display import Image, display
%matplotlib inline

In [ ]:
fig, axes = plt.subplots(2, 4, figsize=(20, 10))
sns.countplot('Survived',data=train,ax=axes[0,0])
sns.countplot('Pclass',data=train,ax=axes[0,1])
sns.countplot('Sex',data=train,ax=axes[0,2])
sns.countplot('SibSp',data=train,ax=axes[0,3])
sns.countplot('Parch',data=train,ax=axes[1,0])
sns.countplot('Embarked',data=train,ax=axes[1,1])
sns.distplot(train['Fare'], kde=True,ax=axes[1,2])
sns.distplot(train['Age'].dropna(),kde=True,ax=axes[1,3])

## Análisis Bivariado

In [ ]:
figbi, axesbi = plt.subplots(2, 4, figsize=(16, 10))
train.groupby('Pclass')['Survived'].mean().plot(kind='barh',ax=axesbi[0,0],xlim=[0,1])
train.groupby('SibSp')['Survived'].mean().plot(kind='barh',ax=axesbi[0,1],xlim=[0,1])
train.groupby('Parch')['Survived'].mean().plot(kind='barh',ax=axesbi[0,2],xlim=[0,1])
train.groupby('Sex')['Survived'].mean().plot(kind='barh',ax=axesbi[0,3],xlim=[0,1])
train.groupby('Embarked')['Survived'].mean().plot(kind='barh',ax=axesbi[1,0],xlim=[0,1])
sns.boxplot(x="Survived", y="Age", data=train,ax=axesbi[1,1])
sns.boxplot(x="Survived", y="Fare", data=train,ax=axesbi[1,2])

In [ ]:
train['Age'].hist()

In [ ]:
train['rango_edad'] = pd.cut(train['Age'], 
                             [0,20, 40, 60, 81])

In [ ]:
train['rango_edad'].value_counts()

In [ ]:
pd.qcut(train['Age'], 4).value_counts()

In [ ]:
train.head()

In [ ]:
train.groupby(['Sex','rango_edad'])['Survived'].\
agg(['mean', 'count'])

In [ ]:
train.groupby('rango_edad')['Survived'].agg(['mean', 'count'])

In [ ]:
train.columns

In [ ]:
test['Age'].describe()

In [ ]:
test.loc[test['Age']<=12,'Survived']=1

In [ ]:
train.groupby(['Sex','Pclass'])['Survived'].\
agg(['mean', 'count'])

In [ ]:
train.shape

In [ ]:
train['Sex'].value_counts()

## Detectando Outliers

In [ ]:
#A través de histogramas

train['Age'].plot.hist(
  bins = 50,
  title = "Histogram of the age variable"
)

## Z-score

Si el Z-score es menor que 2.5 o más grande que 2.5 el valor esta en el 5% de los más grandes o más pequeños.

z = (x – μ) / σ

In [ ]:
from scipy.stats import zscore
train = train.dropna()
train["age_zscore"] = zscore(train["Age"])
train["is_outlier"] = train["age_zscore"].apply(
  lambda x: x <= -2.5 or x >= 2.5
)
train[train["is_outlier"]]

In [ ]:
train["age_zscore"].describe()

# DBSCAN - Density-Based Spatial Clustering of Application with Noise

In [ ]:
ageAndFare = train[["Age", "Fare"]]
ageAndFare.plot.scatter(x = "Age", y = "Fare")

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(ageAndFare)
ageAndFare = scaler.transform(ageAndFare)
#ageAndFare = scaler.fit_transform(ageAndFare)
ageAndFare = pd.DataFrame(ageAndFare, columns = ["Age", "Fare"])
ageAndFare.plot.scatter(x = "Age", y = "Fare")

In [ ]:
from sklearn.cluster import DBSCAN
outlier_detection = DBSCAN(
  eps = 0.1,
  metric="euclidean",
  min_samples = 3,
  n_jobs = -1)
clusters = outlier_detection.fit_predict(ageAndFare)

clusters

In [ ]:
ageAndFare['cluster'] = clusters

In [ ]:
ageAndFare.head()

In [ ]:
from matplotlib import cm
cmap = cm.get_cmap('Accent')
ageAndFare.plot.scatter(
  x = "Age",
  y = "Fare",
  c = clusters,
  cmap = cmap,
  colorbar = False
)

In [ ]:
train

In [ ]:
train.loc[train["Sex"] == "male", "Sex"] = 0
train.loc[train["Sex"] == "female", "Sex"] = 1

In [ ]:
train["Sex"].value_counts()

In [ ]:
#Convirtiendo string to int

train.loc[train["Sex"] == "male", "Sex"]

print(train["Sex"].unique())

#Reemplazando string por entero male = 0, female = 1
train.loc[train["Sex"] == "male", "Sex"] = 0
train.loc[train["Sex"] == "female", "Sex"] = 1

print(train["Sex"].unique())

In [ ]:
train["Embarked"].isnull().sum()

In [ ]:
train["Embarked"].value_counts()

In [ ]:
#ejercicio: eliminar missing data y darle formato entero a la variable "Embarked"

print(train["Embarked"].value_counts())
train["Embarked"] = train["Embarked"].fillna("S")

train.loc[train["Embarked"] == "S", "Embarked"] = 0
train.loc[train["Embarked"] == "C", "Embarked"] = 1
train.loc[train["Embarked"] == "Q", "Embarked"] = 2

In [ ]:
sum(train["Embarked"].isnull())

In [ ]:
train["Embarked"].value_counts()

In [ ]:
dic_embarked={'S':1, 'C':2, 'Q':3}

train['Embarked'] = train['Embarked'].map(lambda x:dic_embarked[x])
print(train["Embarked"].value_counts())

In [ ]:
dic_embarked={'S':1, 'C':2, 'Q':3}
dic_embarked['S']

In [ ]:
#Usando apply para convertir a entero

#gender_dict = {'male':0, 'female':1}
#train["Sex"] = train["Sex"].apply(lambda x: gender_dict[x])

In [ ]:
train.head()

In [ ]:
#Dando formato a un string

def name_extract(word):
    return word.split(',')[1].split('.')[0].strip()



train['prenombre'] = train['Name'].apply(name_extract)

In [ ]:
train.groupby('prenombre')['Survived'].agg(['mean', 'count'])

In [ ]:
train['withsibsp'] = train['SibSp'] > 0
train['withparch'] = train['Parch'] > 0

In [ ]:
train.groupby('withsibsp')['Survived'].mean()

In [ ]:
train.groupby('withparch')['Survived'].mean()

In [ ]:
train['Group_num'] = train.Parch + train.SibSp + 1